.shop-cart {
    width: 990px;
    margin: 40px auto
}

.shop-cart .cart-item-check.cart-item-checked {
    color: #3a3a3a
}

.shop-cart .cart-item-check.cart-item-checked:before {
    content: "\E6CB"
}

.shop-cart .cart-table + .gift-sell {
    margin-top: -1px
}

.shop-cart .red {
    color: #d0021b
}

.shop-cart .blue {
    color: #017cf8 !important
}

.shop-cart .mt20 {
    margin-top: 20px !important
}

.shop-cart .mt30 {
    margin-top: 30px
}

.shop-cart .mt40 {
    margin-top: 40px
}

.shop-cart .mb20 {
    margin-bottom: 20px !important
}

.shop-cart .mb40 {
    margin-bottom: 40px
}

.shop-cart .left {
    text-align: left
}

.shop-cart .right {
    text-align: right
}

.shop-cart .btn-clear {
    border: none;
    background-color: transparent
}

.shop-cart .loading, .shop-cart .none {
    display: none
}

.shop-cart .loading {
    width: 120px;
    height: 28px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 30px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: 300;
    text-indent: 10px;
    background: #fff
}

.shop-cart .loading span {
    width: 20px;
    height: 20px;
    float: left;
    margin: 4px 4px 4px 13px;
    background: url(../img/loading_s.gif?162fb674912) 2px 2px no-repeat
}

.shop-cart .loading-single {
    position: fixed;
    margin-left: -60px
}

.shop-cart .order-ensure-title {
    position: relative;
    margin: 40px auto 50px
}

.shop-cart .order-ensure-title:before {
    content: "";
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-position: -234px -38px;
    background-size: 460px 217px;
    width: 150px;
    height: 42px
}

.shop-cart .order-ensure-title:before, .shop-cart .shopping-step {
    display: block
}

.shop-cart .shopping-step {
    width: 440px;
    font-size: 15px;
    font-weight: 300;
    border-top: 2px solid #b0b0b0;
    position: absolute;
    right: 2px;
    top: 0
}

.shop-cart .shopping-step li.last:after {
    left: auto;
    right: 0;
    margin-left: 0
}

.shop-cart .shopping-step li.first:after {
    left: 0;
    margin-left: 0
}

.shop-cart .shopping-step li.last {
    text-align: right;
    right: -2px
}

.shop-cart .shopping-step li.first {
    text-align: left;
    left: -2px
}

.shop-cart .shopping-step li {
    float: left;
    position: relative;
    width: 33.33%;
    color: #999;
    line-height: 40px;
    text-align: center
}

.shop-cart .shopping-step li, .shop-cart .shopping-step li:after {
    display: block
}

.shop-cart .shopping-step li:after {
    content: "";
    position: absolute;
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-position: 0 -205px;
    background-size: 460px 217px;
    width: 12px;
    height: 12px;
    left: 50%;
    margin-left: -6px;
    top: -7px
}

.shop-cart .shopping-step .focus {
    color: #444
}

.shop-cart .shopping-step .focus:after {
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-position: -20px -205px;
    background-size: 460px 217px
}

.shop-cart .shopping-step.min-step {
    width: 220px
}

.shop-cart .shopping-step.min-step li {
    width: 50%
}

.shop-cart .shopping-step.min-step:before {
    width: 0
}

.shop-cart .cart-table {
    border: 1px solid #e0e0e0
}

.shop-cart .cart-table .table.table-group:last-child li.tr:last-child, .shop-cart .cart-table .table:last-child li.tr:last-child {
    border-bottom: none
}

.shop-cart .cart-table:not(:last-child) {
    margin-top: -1px
}

.shop-cart .promotion-pool-title-group {
    height: 60px
}

.shop-cart .promotion-pool-title-group .line-height {
    line-height: 60px
}

.shop-cart .promotion-pool-title-group .pay-pro {
    text-align: left !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.shop-cart .promotion-pool-title-group .td {
    padding: 0 !important;
    top: 0 !important;
    margin-top: 0 !important
}

.shop-cart .promotion-pool-title-group .cart-num-cont {
    margin-top: 15px !important
}

.shop-cart .promotion-pool-title-group .cart-item-check {
    top: 0 !important
}

.shop-cart .promotion-pool-title-group span.cart-del-btn {
    width: 60px;
    float: right;
    clear: both;
    overflow: hidden;
    height: 60px
}

.shop-cart .promotion-pool-title-group .cart-item-disabled {
    top: 0 !important
}

.shop-cart .is-check i.cart-item-check, .shop-cart .is-check i.cart-item-disabled {
    visibility: hidden !important
}

.shop-cart .cart-label {
    width: 66px;
    display: inline-block;
    background-color: #ff575c;
    color: #fff
}

.shop-cart .cart-label, .shop-cart span.mark-bg-white {
    height: 18px;
    line-height: 18px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 300;
    text-align: center
}

.shop-cart span.mark-bg-white {
    display: inline-block !important;
    color: #ff575c !important;
    background-color: #fff;
    border: 1px solid #ff575c;
    box-sizing: border-box;
    padding: 0 10px !important
}

.shop-cart .ord-sell-title > .order-pay-link, .shop-cart .pre-sell-title > .order-pay-link {
    float: right;
    margin-right: 30px;
    cursor: pointer
}

.shop-cart .ord-sell-title > .order-pay-link i, .shop-cart .pre-sell-title > .order-pay-link i {
    font-size: 12px
}

.shop-cart .pre-sell {
    background: #fff;
    color: #818181;
    font-size: 14px;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    padding-left: 55px;
    padding-top: 20px;
    position: relative;
    margin-bottom: 1px
}

.shop-cart .pre-sell span {
    margin-right: 10px
}

.shop-cart .pre-sell code {
    display: inline-block;
    margin-right: 30px
}

.shop-cart .pre-sell .hover-tip {
    margin-right: 16px;
    cursor: pointer
}

.shop-cart .pre-sell .hover-tip .tip-text {
    font-size: 12px;
    position: absolute;
    z-index: 10;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    display: none
}

.shop-cart .pre-sell .hover-tip:hover .tip-text {
    display: block
}

.shop-cart .ord-sell {
    padding-top: 0
}

.shop-cart .gift-sell {
    border: 1px solid #e0e0e0;
    padding: 18px 30px 19px 55px
}

.shop-cart .gift-sell .order-pay-mark {
    width: 66px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    margin-right: 20px;
    background-color: #ff575c;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-align: center
}

.shop-cart .gift-sell .order-pay-mark.order-pay-mark-white {
    color: #ff575c;
    background-color: #fff;
    border: 1px solid #ff575c;
    box-sizing: border-box
}

.shop-cart .gift-sell .gift-sell-info {
    font-size: 14px;
    font-weight: 300;
    color: #444;
    text-align: left;
    line-height: 1;
    margin-bottom: 8px
}

.shop-cart .gift-sell .gift-sell-info .promotion-title-ellipsis {
    display: inline-block;
    width: 516px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.shop-cart .gift-sell .gift-sell-info:last-child {
    margin-bottom: 0
}

.shop-cart .gift-sell .order-pay-link {
    display: inline-block;
    color: #ff575c;
    margin-left: 20px;
    cursor: pointer
}

.shop-cart .gift-sell .order-pay-link i {
    font-size: 12px
}

.shop-cart .gift-sell .btn-clear {
    float: right;
    height: 20px;
    line-height: 20px;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    cursor: pointer;
    outline: none
}

.shop-cart .gift-sell .btn-clear.blue {
    color: #017cf8
}

.shop-cart .gift-sell .title-desc {
    max-width: 545px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.shop-cart .cartnew-tips {
    height: auto;
    overflow: hidden;
    font-size: 12px;
    margin-bottom: 10px
}

.shop-cart .cartnew-tips, .shop-cart .cartnew-tips .tipsbox {
    font-weight: 300
}

.shop-cart .cartnew-tips .tipsbox {
    position: relative;
    float: left;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 4px 0;
    color: #818181;
    font-size: 14px;
    background-color: #f0f0f0
}

.shop-cart .cartnew-tips .tipsbox .btn-close {
    width: 13px;
    height: 13px;
    padding: 0;
    margin-right: 30px;
    margin-top: 5px;
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-position: -204px -159px;
    background-size: 460px 217px;
    float: right;
    cursor: pointer
}

.shop-cart .cartnew-tips .tipsbox strong {
    font-weight: 400;
    padding-left: 30px
}

.shop-cart .cartnew-tips .tipsbox a {
    color: #0883de
}

.shop-cart .good-mark {
    min-width: 48px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    margin-right: 5px;
    background-color: #ff575c;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    vertical-align: top
}

.shop-cart .order-pay {
    width: 100%;
    line-height: 150%
}

.shop-cart .order-pay .goods-choose-box:before {
    position: absolute;
    top: 97px;
    left: -9px;
    z-index: 20;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 9px solid #fff;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent
}

.shop-cart .order-pay .table.table-group li.tr:last-child {
    border-bottom: 1px solid #e0e0e0
}

.shop-cart .order-pay .table.table-group li.tr:last-child:before {
    content: "";
    height: 0
}

.shop-cart .order-pay .cart-title {
    padding: 0 30px;
    background: #444;
    height: 50px;
    overflow: hidden;
    zoom: 1
}

.shop-cart .order-pay .cart-title p:first-child {
    padding-left: 20px
}

.shop-cart .order-pay .cart-title p.right {
    text-align: right
}

.shop-cart .order-pay .cart-title p {
    float: left;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    vertical-align: middle;
    text-align: center
}

.shop-cart .order-pay .cart-title p.left {
    text-align: left
}

.shop-cart .order-pay .cart-title .cart-item-check {
    margin-top: 0
}

.shop-cart .order-pay .cart-title:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.shop-cart .order-pay .cart-product-num {
    font-size: 14px;
    text-align: left;
    height: 33px;
    line-height: 33px;
    background: #f8f8f8;
    padding: 0 10px;
    position: relative
}

.shop-cart .order-pay .cart-product-num strong {
    padding-left: 20px;
    font-weight: 700
}

.shop-cart .order-pay .cart-product-num .icon-minus-cart {
    background-position: -419px -126px
}

.shop-cart .order-pay .cart-product-num .icon-add-cart, .shop-cart .order-pay .cart-product-num .icon-minus-cart {
    position: absolute;
    top: 9px;
    left: 15px;
    float: left;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-size: 460px 217px
}

.shop-cart .order-pay .cart-product-num .icon-add-cart {
    background-position: -280px -149px
}

.shop-cart .order-pay .cart-product-num .icon-zp {
    position: absolute;
    top: 8px;
    left: 10px;
    float: left;
    width: 18px;
    height: 19px;
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-position: -416px -88px;
    background-size: 460px 217px
}

.shop-cart .order-pay .cart-product-num .cart-unfold {
    position: absolute;
    top: 0;
    right: 10px
}

.shop-cart .order-pay .cart-product-num .cart-unfold i {
    width: 28px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer
}

.shop-cart .order-pay .cart-product-num .cart-btn-pre {
    background-position: -380px -88px
}

.shop-cart .order-pay .cart-product-num .cart-btn-next, .shop-cart .order-pay .cart-product-num .cart-btn-pre {
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-size: 460px 217px
}

.shop-cart .order-pay .cart-product-num .cart-btn-next {
    background-position: -344px -88px
}

.shop-cart .order-pay .cart-product-num .unfold-color {
    color: #666;
    cursor: pointer
}

.shop-cart .order-pay .cart-product-num .cart-page p {
    float: left;
    padding-right: 5px
}

.shop-cart .order-pay .cart-product-num .cart-page .f-red {
    color: red
}

.shop-cart .order-pay .cart-product-num input {
    position: relative;
    top: 2px
}

.shop-cart .order-pay .table {
    width: 100%
}

.shop-cart .order-pay .table .tr:last-child {
    border-bottom: 1px solid #e0e0e0
}

.shop-cart .order-pay .table .tr.active {
    background-color: #f5f5f5
}

.shop-cart .order-pay .table li {
    position: relative;
    padding: 0 30px 0 54px
}

.shop-cart .order-pay .table li .cart-item-check {
    top: 63px
}

.shop-cart .order-pay .table li:hover .pay-pro-detail {
    border-color: #e0e0e0
}

.shop-cart .order-pay .table li:hover .pay-pro-detail i {
    visibility: visible
}

.shop-cart .order-pay .table .tr {
    border-bottom: 1px solid #e0e0e0;
    zoom: 1
}

.shop-cart .order-pay .table .tr .td {
    float: left;
    padding: 30px 0;
    font-size: 15px;
    font-weight: 300;
    text-align: center
}

.shop-cart .order-pay .table .tr:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.shop-cart .order-pay .table .tr-disabled .td {
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    -khtml-opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5
}

.shop-cart .order-pay .table.table-group li:not(:last-child) {
    position: relative;
    border-bottom-color: transparent
}

.shop-cart .order-pay .table.table-group li:not(:last-child):before {
    top: 151px;
    left: 54px;
    content: "";
    width: 904px;
    height: 1px;
    background-color: #e0e0e0
}

.shop-cart .order-pay .cart-item-disabled, .shop-cart .order-pay .table.table-group li:not(:last-child):before {
    position: absolute;
    display: inline-block
}

.shop-cart .order-pay .cart-item-disabled {
    top: 63px;
    left: 0;
    width: 15px;
    height: 15px;
    font-size: 14px;
    color: #3a3a3a;
    float: left;
    margin-top: 0;
    margin-left: 15px;
    cursor: not-allowed
}

.shop-cart .order-pay .cart-item-disabled:before {
    content: "\E6D8"
}

.shop-cart .order-pay .out-of-stock {
    top: 30px;
    left: 21px;
    font-size: 12px;
    font-weight: 300;
    color: #000;
    background-color: #f0f0f0;
    padding: 8px 10px;
    line-height: 12px;
    z-index: 30
}

.shop-cart .order-pay .out-of-stock, .shop-cart .order-pay .out-of-stock:after {
    position: absolute;
    display: inline-block
}

.shop-cart .order-pay .out-of-stock:after {
    top: 28px;
    left: 8px;
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid #f0f0f0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent
}

.shop-cart .order-pay .pay-pro-info {
    float: left;
    text-align: left;
    padding-left: 15px;
    padding-top: 0;
    margin-left: 0;
    width: 280px
}

.shop-cart .order-pay .pay-pro-info .pay-pro-detail.active i {
    color: #d0021b;
    visibility: visible
}

.shop-cart .order-pay .pay-pro-info .pay-pro-detail.active {
    border-color: #d0021b !important
}

.shop-cart .order-pay .pay-pro-info .pay-pro-detail:hover i {
    color: #d0021b !important;
    visibility: visible
}

.shop-cart .order-pay .pay-pro-info a {
    display: block;
    width: 280px;
    min-height: 44px;
    padding-left: 3px;
    color: #444;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    text-decoration: none;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-center: center;
    -webkit-align-items: center
}

.shop-cart .order-pay .pay-pro-info a:hover {
    color: #d0021b
}

.shop-cart .order-pay .pay-pro-info .pay-pro-detail {
    margin-top: 0;
    display: inline-block;
    border: 1px dashed transparent;
    box-sizing: border-box;
    height: 26px;
    line-height: 26px;
    cursor: pointer
}

.shop-cart .order-pay .pay-pro-info .pay-pro-detail:hover {
    border-color: #d0021b !important
}

.shop-cart .order-pay .pay-pro-info span {
    display: block;
    padding-left: 3px;
    font-size: 13px;
    font-weight: 300;
    color: #9a9a9a;
    text-align: left
}

.shop-cart .order-pay .pay-pro-info span b {
    vertical-align: bottom;
    max-width: 110px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal
}

.shop-cart .order-pay .pay-pro-info span b, .shop-cart .order-pay .pay-pro-info span i {
    display: inline-block;
    font-weight: 300
}

.shop-cart .order-pay .pay-pro-info span i {
    font-size: 14px;
    margin-left: 40px;
    width: 14px;
    height: 14px;
    vertical-align: baseline;
    margin-right: 3px;
    visibility: hidden
}

.shop-cart .order-pay .pay-pro-info .presell {
    display: block;
    margin-top: 5px;
    padding-left: 3px;
    font-size: 13px;
    font-weight: 300;
    height: 13px;
    line-height: 13px;
    color: #ff575c;
    text-align: left;
    box-sizing: border-box
}

.shop-cart .order-pay .cursor-p {
    cursor: pointer
}

.shop-cart .order-pay .goods-choose-box {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -80px;
    padding: 30px 15px;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 24;
    display: none
}

.shop-cart .order-pay .goods-choose-box .goods-info {
    float: left;
    max-width: 185px
}

.shop-cart .order-pay .goods-choose-box .goods-info-bigimg {
    float: left
}

.shop-cart .order-pay .goods-choose-box .big-img {
    margin-left: 20px;
    border: 1px solid #eaeaea;
    box-sizing: border-box
}

.shop-cart .order-pay .goods-choose-box .big-img, .shop-cart .order-pay .goods-choose-box .big-img img {
    width: 115px;
    height: 150px
}

.shop-cart .order-pay .goods-choose-box .choose-color {
    margin-bottom: 13px
}

.shop-cart .order-pay .goods-choose-box .choose-color .color-row {
    float: left;
    width: 146px
}

.shop-cart .order-pay .goods-choose-box .choose-color .dd {
    height: 35px;
    line-height: 35px
}

.shop-cart .order-pay .goods-choose-box .choose-color .dt {
    width: 25px;
    height: 35px;
    cursor: pointer;
    margin-bottom: 10px
}

.shop-cart .order-pay .goods-choose-box .choose-color .dt img {
    width: 25px;
    height: 35px
}

.shop-cart .order-pay .goods-choose-box .choose-color .active {
    border-color: #000
}

.shop-cart .order-pay .goods-choose-box .choose-size {
    margin-bottom: 13px;
    min-height: 56px
}

.shop-cart .order-pay .goods-choose-box .choose-size .dd {
    height: 18px;
    line-height: 18px
}

.shop-cart .order-pay .goods-choose-box .choose-size .size-row {
    float: left;
    width: 146px
}

.shop-cart .order-pay .goods-choose-box .choose-size .dt {
    padding-left: 6px;
    padding-right: 6px;
    height: 16px;
    font-size: 12px;
    font-weight: 300;
    color: #000;
    text-align: center;
    line-height: 16px;
    margin-bottom: 10px;
    cursor: pointer
}

.shop-cart .order-pay .goods-choose-box .choose-size .active {
    border-color: #444;
    background-color: #444;
    color: #fff
}

.shop-cart .order-pay .goods-choose-box .choose-size .disabled {
    color: #e8e8e8;
    cursor: not-allowed
}

.shop-cart .order-pay .goods-choose-box .dl {
    zoom: 1
}

.shop-cart .order-pay .goods-choose-box .dl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.shop-cart .order-pay .goods-choose-box .dd {
    float: left;
    color: #000;
    font-size: 13px;
    font-weight: 300;
    margin-right: 7px
}

.shop-cart .order-pay .goods-choose-box .dt {
    float: left;
    border: 1px solid #eaeaea;
    margin-right: 8px
}

.shop-cart .order-pay .goods-choose-box .dt img {
    width: 100%
}

.shop-cart .order-pay .goods-choose-box .dt:last-child {
    margin-right: 0
}

.shop-cart .order-pay .goods-choose-box .button-group {
    margin-left: 37px
}

.shop-cart .order-pay .goods-choose-box .button-group button {
    width: 50px;
    height: 22px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: 12px;
    font-weight: 300;
    padding: 0;
    border: 1px solid #000;
    box-sizing: border-box;
    line-height: 22px;
    cursor: pointer;
    outline: none
}

.shop-cart .order-pay .goods-choose-box .button-group .button-sure {
    background-color: #000;
    color: #fff;
    margin-right: 18px
}

.shop-cart .order-pay .goods-choose-box .button-group .button-cancel {
    background-color: #fff;
    color: #000
}

.shop-cart .order-pay .goods-choose-box:after {
    position: absolute;
    top: 96px;
    left: -10px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 10px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

.shop-cart .order-pay .cart-operation {
    margin-top: 21px
}

.shop-cart .order-pay .cart-operation .cart-col-btn, .shop-cart .order-pay .cart-operation .cart-del-btn {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #000;
    text-align: right;
    cursor: pointer
}

.shop-cart .order-pay .cart-operation .cart-col-btn:hover, .shop-cart .order-pay .cart-operation .cart-del-btn:hover {
    color: #d0021b
}

.shop-cart .order-pay .cart-operation .has-col-btn {
    color: #9a9a9a
}

.shop-cart .order-pay .adjust-cart-num, .shop-cart .order-pay .sub-total {
    margin-top: 33px
}

.shop-cart .order-pay .adjust-cart-num .cart-num-btn.disabled:hover .icon-minus, .shop-cart .order-pay .adjust-cart-num .cart-num-btn.disabled:hover .icon-plus {
    color: #f0f0f0
}

.shop-cart .order-pay .adjust-cart-num .cart-num-btn:hover .icon-minus, .shop-cart .order-pay .adjust-cart-num .cart-num-btn:hover .icon-plus {
    color: #666
}

.shop-cart .order-pay .adjust-cart-num .cart-num-cont {
    position: relative;
    width: 98px;
    height: 30px;
    margin-left: 15px
}

.shop-cart .order-pay .adjust-cart-num .cart-num-cont .minus {
    position: absolute;
    top: 0;
    left: 1px
}

.shop-cart .order-pay .adjust-cart-num .cart-num-cont input {
    position: absolute;
    top: 0;
    left: 30px
}

.shop-cart .order-pay .adjust-cart-num .cart-num-cont .plus {
    position: absolute;
    top: 0;
    left: 67px
}

.shop-cart .order-pay .adjust-cart-num input {
    width: 38px;
    text-align: center;
    color: #444;
    font-size: 15px
}

.shop-cart .order-pay .adjust-cart-num .cart-num-btn, .shop-cart .order-pay .adjust-cart-num input {
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #e0e0e0
}

.shop-cart .order-pay .adjust-cart-num .cart-num-btn {
    display: inline-block;
    width: 30px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px
}

.shop-cart .order-pay .adjust-cart-num .cart-num-btn:hover {
    background-color: #e0e0e0
}

.shop-cart .order-pay .adjust-cart-num .icon-minus {
    font-size: 18px;
    display: inline-block;
    margin-top: 1px;
    vertical-align: middle;
    color: #b0b0b0;
    -webkit-text-stroke-width: .5px
}

.shop-cart .order-pay .adjust-cart-num .icon-minus:before {
    content: "\E63C"
}

.shop-cart .order-pay .adjust-cart-num .icon-plus {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    color: #b0b0b0
}

.shop-cart .order-pay .adjust-cart-num .icon-plus:before {
    content: "\E644"
}

.shop-cart .order-pay .adjust-cart-num .disabled i {
    color: #f0f0f0;
    cursor: not-allowed
}

.shop-cart .order-pay .tip-message {
    background: transparent;
    font-size: 14px;
    font-weight: 300;
    margin-top: 3px;
    color: #ff575c
}

.shop-cart .order-pay .tip-message.tip-message-coin {
    color: #000;
    margin-top: 2px
}

.shop-cart .order-pay .product-price {
    margin-top: 33px;
    position: relative
}

.shop-cart .order-pay .product-price .sale-info {
    position: absolute;
    text-align: left;
    left: 22%;
    z-index: 21
}

.shop-cart .order-pay .product-price .tip-message {
    margin-top: -2px
}

.shop-cart .order-pay .product-price .line-through {
    font-weight: 400;
    text-decoration: line-through;
    color: #9a9a9a
}

.shop-cart .order-pay .line-margin-top {
    padding-top: 15px !important
}

.shop-cart .order-pay .sale-info ul li.invalid {
    color: #b0b0b0
}

.shop-cart .order-pay .sale-info .sale-info-title {
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 300;
    color: #000;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 20
}

.shop-cart .order-pay .sale-info .sale-info-title, .shop-cart .order-pay .sale-info .sale-info-title i {
    display: inline-block
}

.shop-cart .order-pay .sale-info .sale-info-title i {
    width: 9px;
    height: 6px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-left: 7px;
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-position: -407px -149px;
    background-size: 460px 217px;
    transition: transform .3s ease;
    transform: rotate(0deg);
    zoom: 1
}

.shop-cart .order-pay .sale-info ul {
    max-width: 210px;
    box-sizing: border-box;
    border: 1px solid #000;
    z-index: 19;
    margin-top: -3px;
    padding: 5px 10px;
    background-color: #fff
}

.shop-cart .order-pay .sale-info ul li {
    position: relative;
    width: 190px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #000;
    text-align: justify;
    padding: 0;
    margin-top: 5px
}

.shop-cart .order-pay .sale-info ul li a {
    display: inline-block;
    color: #ff575c;
    cursor: pointer
}

.shop-cart .order-pay .sale-info ul li:first-child {
    margin-top: 0
}

.shop-cart .order-pay .sale-info.active .sale-info-title {
    border-bottom: 1px solid #fff
}

.shop-cart .order-pay .sale-info.active i {
    transition: transform .3s ease;
    transform: rotate(180deg);
    zoom: 1
}

.shop-cart .pay-pro-icon {
    float: left;
    width: 66px;
    height: 90px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    position: relative
}

.shop-cart .pay-pro-icon img {
    max-width: 64px;
    width: 100%
}

.shop-cart .pay-pro-icon .incentive {
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 66px;
    display: block;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #3a3a3a
}

.shop-cart .pay-pro-icon .incentive.red {
    background-color: #ff575c
}

.shop-cart .yoho-coin {
    width: 14px;
    height: 14px;
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-position: -441px -126px;
    background-size: 460px 217px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 4px
}

.shop-cart .cart-item-check, .shop-cart .yoho-coin {
    display: inline-block
}

.shop-cart .cart-item-check {
    position: absolute;
    left: 15px;
    width: 15px;
    height: 15px;
    color: #d9d9d9;
    float: left;
    margin-top: 0;
    margin-left: 15px;
    cursor: pointer
}

.shop-cart .cart-item-check:before {
    content: "\E6C3"
}

.shop-cart .cart-item-check-title {
    position: absolute;
    left: 15px;
    width: 15px;
    height: 15px;
    color: #fff;
    float: left;
    margin-top: 0;
    margin-left: 15px;
    display: inline-block;
    cursor: pointer
}

.shop-cart .cart-item-check-title:before {
    content: "\E6F2"
}

.shop-cart .cart-title {
    position: relative
}

.shop-cart .cart-title .cart-item-check.cart-item-checked {
    color: #fff
}

.shop-cart .cart-fixed-submit {
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px
}

.shop-cart .cart-fixed-submit .cart-fixed-wrap {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #e0e0e0
}

.shop-cart .cart-fixed-submit .center-content {
    width: 990px;
    position: relative;
    padding-left: 50px;
    box-sizing: border-box
}

.shop-cart .cart-fixed-submit .center-content > * {
    display: inline-block
}

.shop-cart .cart-fixed-submit .cart-item-check:before {
    content: "\E6F2";
    color: #fff
}

.shop-cart .cart-fixed-submit .cart-item-checked:before {
    content: "\E6CB";
    color: #3a3a3a
}

.shop-cart .cart-fixed-submit strong {
    color: #d0021b
}

.shop-cart .cart-fixed-submit .fixed-option {
    margin-right: 60px
}

.shop-cart .cart-fixed-submit .fixed-option > a {
    color: #017cf8;
    margin-left: 20px
}

.shop-cart .cart-fixed-submit .select-num {
    margin-right: 26px
}

.shop-cart .cart-fixed-submit .price-sum {
    width: 264px;
    line-height: 1.3;
    vertical-align: middle
}

.shop-cart .cart-fixed-submit .price-sum .sum {
    position: relative
}

.shop-cart .cart-fixed-submit .price-sum .sum > strong {
    line-height: 1;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    right: 0
}

.shop-cart .cart-fixed-submit .price-sum .sum kbd {
    font-weight: 400
}

.shop-cart .cart-fixed-submit .price-sum .offer {
    color: #afafaf
}

.shop-cart .cart-fixed-submit .btn-account {
    width: 150px;
    height: 50px;
    padding: 0;
    text-align: center;
    border: 0;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    background-color: #d0021b;
    cursor: pointer;
    float: right
}

.shop-cart .cart-fixed-submit .btn-account.btn-account-disable {
    background-color: #b0b0b0;
    cursor: not-allowed
}

.shop-cart .fixed .cart-fixed-wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1
}

.shop-cart .shop-cart-empty {
    padding-top: 110px;
    padding-bottom: 30px;
    text-align: center
}

.shop-cart .shop-cart-empty i {
    display: inline-block;
    font-size: 140px;
    width: 140px;
    height: 70px;
    color: #4d4d4d
}

.shop-cart .shop-cart-empty i:before {
    content: "\E6CC"
}

.shop-cart .shop-cart-empty p {
    margin-top: 40px;
    font-size: 18px;
    color: #4d4d4d;
    text-align: center
}

.shop-cart .shop-cart-empty a, .shop-cart .shop-cart-empty p {
    font-weight: 300
}

.shop-cart .shop-cart-empty a {
    margin-top: 18px;
    display: inline-block;
    width: 130px;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    color: #000;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer
}

.cart-del-goods .cart-del-goods-title {
    margin-top: 28px;
    padding-left: 30px;
    line-height: 14px;
    height: 14px;
    color: #818181;
    font-size: 14px;
    font-weight: 300;
    text-align: left
}

.cart-del-goods li {
    margin-top: 10px;
    padding: 9px 30px;
    background-color: #f0f0f0;
    zoom: 1
}

.cart-del-goods li:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both
}

.cart-del-goods [class^=good-] {
    display: block;
    float: left;
    height: 14px;
    line-height: 14px
}

.cart-del-goods [class^=good-] a {
    display: inline-block;
    cursor: pointer
}

.cart-del-goods .good-name {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.cart-del-goods .good-num, .cart-del-goods .good-price {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    text-align: center
}

.cart-del-goods .good-operate {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    text-align: right
}

.cart-del-goods .good-operate a {
    margin-right: 20px
}

.cart-del-goods .good-operate a:last-child {
    margin-right: 0
}

.cart-del-goods a:hover {
    color: #d0021b
}

.bottom-tab-slide.bottom-tab {
    height: 40px;
    line-height: 39px;
    border-bottom: 1px solid #dcdcdc
}

.bottom-tab-slide.bottom-tab .bottom-title {
    width: 80px;
    text-align: center;
    margin: 0 13px;
    font-size: 18px
}

.bottom-tab-slide.bottom-tab .bottom-title, .bottom-tab-slide.bottom-tab .change {
    font-weight: 300;
    color: #444;
    display: inline-block;
    cursor: pointer
}

.bottom-tab-slide.bottom-tab .change {
    float: right;
    font-size: 16px;
    margin-right: 0
}

.bottom-tab-slide.bottom-tab .change .change-icon {
    font-size: 24px;
    -webkit-text-stroke-width: .5px
}

.bottom-tab-slide.bottom-tab .change.cur {
    border-bottom: none
}

.bottom-tab-slide.bottom-tab .cur {
    border-bottom: 3px solid #3a3a3a
}

.individual-slide {
    width: 990px;
    height: 368px;
    overflow: hidden
}

.individual-slide .individual-item-latestwalk, .individual-slide .individual-item-recommend-goods {
    display: none
}

.individual-slide .individual-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300
}

.individual-slide .individual-item .good:hover .name {
    color: #d0021b
}

.individual-slide .individual-item .goods {
    width: 990px;
    height: 338px;
    margin: 20px 0 10px;
    overflow: hidden
}

.individual-slide .individual-item .good {
    float: left;
    margin-right: 10px;
    width: 190px;
    height: 338px
}

.individual-slide .individual-item .good:nth-child(5n) {
    margin-right: 0
}

.individual-slide .individual-item img {
    display: block;
    width: 190px;
    height: 251px
}

.individual-slide .individual-item .name {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #222;
    text-align: center;
    height: 12px;
    line-height: 12px;
    margin: 15px 0 10px;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.individual-slide .individual-item .price {
    text-align: center;
    margin-bottom: 8px
}

.individual-slide .individual-item .market-price, .individual-slide .individual-item .sale-price {
    color: #000;
    font-weight: 400
}

.individual-slide .individual-item .sale-price-new {
    color: #d0021b;
    margin-right: 15px
}

.individual-slide .individual-item .market-price {
    text-decoration: line-through
}

.individual-slide .individual-item .btn-add-cart {
    display: block;
    margin: 0 auto;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 300;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #b0b0b0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #fff;
    padding: 0;
    cursor: pointer;
    outline: none
}

.individual-slide .individual-item .img-brand-switch a.next:before {
    margin-top: 7px;
    margin-left: 3px
}

.individual-slide .individual-item .img-brand-switch a.active {
    background-color: #e9e9e9;
    border: none
}

.individual-slide .individual-item .img-brand-switch a {
    position: absolute;
    top: 126px;
    font-size: 26px;
    color: #3a3a3a;
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    background-color: #e1e1e1
}

.individual-slide .individual-item .img-brand-switch a:before {
    display: inline-block;
    margin-top: 8px
}

.individual-slide .individual-item .img-brand-switch .next {
    right: 0
}

.individual-slide .individual-item .img-brand-switch .next:before {
    content: "\E608"
}

.individual-slide .individual-item .img-brand-switch .prev {
    left: 0
}

.individual-slide .individual-item .img-brand-switch .prev:before {
    content: "\E609"
}

.r-dialog.yoho-dialog {
    min-width: 370px;
    min-height: 104px;
    box-sizing: content-box
}

.r-dialog {
    padding: 74px 20px 40px;
    border-color: #5f5f5f
}

.r-dialog .btn:last-child.alert-sure {
    width: 150px
}

.r-dialog .close {
    top: 12px;
    right: 12px
}

.r-dialog .close i {
    font-size: 32px
}

.r-dialog .dialog-content {
    font-size: 24px;
    color: #444;
    font-weight: 500
}

.r-dialog .dialog-content i {
    display: inline-block;
    color: #d0021b;
    font-size: 26px;
    -webkit-text-stroke-width: 0
}

.r-dialog .dialog-content .icon-tip, .r-dialog .dialog-content i {
    margin-right: 15px;
    margin-bottom: 7px;
    vertical-align: middle
}

.r-dialog .dialog-content .icon-tip {
    font-size: 32px;
    -webkit-text-stroke-width: .2px
}

.r-dialog .dialog-content h3 {
    margin-top: 35px;
    height: 35px;
    line-height: 35px
}

.r-dialog .dialog-content p {
    margin-top: 23px;
    margin-bottom: 23px;
    font-size: 14px;
    color: #444;
    line-height: 1.5;
    font-weight: 400
}

.r-dialog .btn {
    width: 130px;
    height: 33px;
    line-height: 31px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 300;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.r-dialog .btn:nth-child(2) {
    margin-left: 20px
}

.r-dialog .alert-main {
    margin-bottom: 64px
}

.r-dialog .alert-main i {
    -webkit-text-stroke-width: 1.5px
}

.shop-cart .goods-detail {
    top: 10%;
    left: 0;
    z-index: 101;
    width: 650px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    display: none
}

.shop-cart .goods-detail, .shop-cart .goods-detail .magnify {
    position: absolute
}

.shop-cart .goods-detail .magnify {
    width: 12px;
    height: 12px;
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-position: -40px -205px;
    background-size: 460px 217px;
    bottom: 2px;
    right: 2px
}

.shop-cart .goods-detail .detail-header {
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    margin-top: 5px;
    box-sizing: border-box;
    padding-right: 5px;
    height: 16px;
    cursor: move
}

.shop-cart .goods-detail .detail-header .colse {
    float: right;
    width: 46px;
    height: 16px;
    background: #ccc;
    border-radius: 2px;
    cursor: pointer
}

.shop-cart .goods-detail .detail-header .colse:hover {
    background: #414141
}

.shop-cart .goods-detail .detail-body {
    width: 610px;
    padding: 15px;
    margin: 0 auto
}

.shop-cart .goods-detail .detail-body .none {
    display: none
}

.shop-cart .goods-detail .detail-body .detail-bigpic {
    width: 290px;
    padding-bottom: 15px;
    float: left
}

.shop-cart .goods-detail .detail-body .detail-bigpic .bigpic {
    width: 210px;
    height: 280px;
    display: block;
    margin: 0 auto 10px
}

.shop-cart .goods-detail .detail-body .detail-bigpic .bigpic img {
    width: 100%;
    height: auto
}

.shop-cart .goods-detail .detail-body .detail-bigpic .piclist {
    height: 65px;
    cursor: pointer
}

.shop-cart .goods-detail .detail-body .detail-bigpic .piclist span {
    width: 10px;
    height: 60px
}

.shop-cart .goods-detail .detail-body .detail-bigpic .piclist .pre {
    background-image: url(../img/sprite.cart.png?t=1524636297402);
    background-position: -257px -126px;
    background-size: 460px 217px;
    float: left
}

.shop-cart .goods-detail .detail-body .detail-bigpic .piclist .con {
    width: 260px;
    height: 65px;
    overflow: hidden;
    float: left;
    margin-left: 5px
}

.shop-cart .goods-detail .detail-body .detail-bigpic .piclist .con li {
    float: left;
    width: 58px;
    height: 58px;
    border: 1px solid #ccc;
    margin: 1px;
    vertical-align: top;
    overflow: hidden;
    text-align: center
}

.shop-cart .goods-detail .detail-body .detail-bigpic .piclist .con li img {
    width: auto;
    height: 100%;
    display: inline-block
}

.shop-cart .goods-detail .detail-body .detail-bigpic .piclist .con .active {
    width: 56px;
    height: 56px;
    border: 2px solid #333
}

.shop-cart .goods-detail .detail-body .detail-bigpic .piclist .next {
    background-image: url(../img/sprite.cart.png?t=1524636297403);
    background-position: -234px -126px;
    background-size: 460px 217px;
    float: right
}

.shop-cart .goods-detail .detail-body .detail-info {
    width: 300px;
    float: right;
    padding-bottom: 15px
}

.shop-cart .goods-detail .detail-body .detail-info .title {
    padding: 5px 0
}

.shop-cart .goods-detail .detail-body .detail-info .title h2 {
    width: 300px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden
}

.shop-cart .goods-detail .detail-body .detail-info .arrival-date {
    color: red
}

.shop-cart .goods-detail .detail-body .detail-info .type {
    padding-bottom: 10px
}

.shop-cart .goods-detail .detail-body .detail-info .type .type-s {
    background: #ccc;
    padding: 0 5px;
    color: #fff;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    display: inline-block
}

.shop-cart .goods-detail .detail-body .detail-info .price {
    padding: 0 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000
}

.shop-cart .goods-detail .detail-body .detail-info .price .oldprice {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding-bottom: 5px
}

.shop-cart .goods-detail .detail-body .detail-info .price .newprice {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    padding: 0 0 5px
}

.shop-cart .goods-detail .detail-body .detail-info .price .newprice b {
    font-size: 22px;
    font-family: arial, sans-serif
}

.shop-cart .goods-detail .detail-body .detail-info .order {
    color: #000;
    font-size: 12px
}

.shop-cart .goods-detail .detail-body .detail-info .order dd {
    width: 55px;
    float: left;
    padding-bottom: 8px
}

.shop-cart .goods-detail .detail-body .detail-info .order dt {
    width: 245px;
    float: left;
    padding-bottom: 8px
}

.shop-cart .goods-detail .detail-body .detail-info .order dd.color-box {
    line-height: 44px
}

.shop-cart .goods-detail .detail-body .detail-info .order .color-box {
    height: 75px
}

.shop-cart .goods-detail .detail-body .detail-info .order .color-box li {
    width: 44px;
    height: 65px;
    overflow: hidden;
    text-align: center;
    margin-right: 4px;
    display: inline;
    float: left;
    cursor: pointer
}

.shop-cart .goods-detail .detail-body .detail-info .order .color-box li .atcive {
    width: 40px;
    height: 40px;
    border: 2px solid #e8044f
}

.shop-cart .goods-detail .detail-body .detail-info .order .color-box li .atcive span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(../img/ico_r_act.png?162fb674911) 0 0 no-repeat
}

.shop-cart .goods-detail .detail-body .detail-info .order .color-box li p {
    width: 42px;
    height: 42px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    position: relative
}

.shop-cart .goods-detail .detail-body .detail-info .order .color-box li p img {
    width: 100%;
    height: auto
}

.shop-cart .goods-detail .detail-body .detail-info .order .color-box li span {
    line-height: 20px
}

.shop-cart .goods-detail .detail-body .detail-info .order .show-size-box {
    height: 25px;
    line-height: 18px
}

.shop-cart .goods-detail .detail-body .detail-info .order .show-size-box span {
    cursor: pointer;
    height: 18px;
    padding: 0 10px;
    border: 1px solid #ccc;
    margin: 1px 5px 5px 1px;
    display: inline;
    float: left;
    overflow: hidden
}

.shop-cart .goods-detail .detail-body .detail-info .order .show-size-box .atcive {
    height: 16px;
    border: 2px solid red;
    background: url(../img/ico_r_act.png?162fb674911) 100% 100% no-repeat
}

.shop-cart .goods-detail .detail-body .detail-info .order .show-size-box .null-atcivec {
    height: 18px;
    border: 1px solid #ccc;
    color: #ccc
}

.shop-cart .goods-detail .detail-body .detail-info .order .show-size-box .atcivec {
    height: 16px;
    border: 2px solid #ccc;
    background: url(../img/ico_r_act_h.png?162fb674911) 100% 100% no-repeat;
    color: #ccc
}

.shop-cart .goods-detail .detail-body .detail-info .order .amount-wrapper {
    width: 100px;
    height: 20px;
    display: inline-block
}

.shop-cart .goods-detail .detail-body .detail-info .order .amount-wrapper .amount {
    width: 12px;
    height: 12px;
    display: inline;
    cursor: pointer;
    border: 0;
    float: left;
    font-size: 10px;
    color: #c4c4c4
}

.shop-cart .goods-detail .detail-body .detail-info .order .amount-wrapper .cut {
    background-image: url(../img/sprite.cart.png?t=1524636297403);
    background-position: -234px -88px;
    background-size: 460px 217px;
    margin: 5px 5px 0 0
}

.shop-cart .goods-detail .detail-body .detail-info .order .amount-wrapper .add {
    background-image: url(../img/sprite.cart.png?t=1524636297403);
    background-position: -273px -88px;
    background-size: 460px 217px;
    margin: 5px 0 0 5px
}

.shop-cart .goods-detail .detail-body .detail-info .order .amount-wrapper .mnum {
    width: 33px;
    height: 18px;
    line-height: 16px;
    border: 1px solid #c4c4c4;
    text-align: center;
    overflow: hidden;
    float: left;
    font-size: 12px
}

.shop-cart .goods-detail .detail-body .detail-info .submit {
    padding-top: 10px;
    float: left
}

.shop-cart .goods-detail .detail-body .detail-info .submit input {
    width: 225px;
    height: 45px;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    float: left
}

.shop-cart .goods-detail .detail-body .detail-info .submit .addcart {
    background-image: url(../img/sprite.cart.png?t=1524636297403);
    background-position: 0 -53px;
    background-size: 460px 217px
}

.shop-cart .goods-detail .detail-body .detail-info .submit .btn-pre-sale {
    background-image: url(../img/sprite.cart.png?t=1524636297403);
    background-position: 0 0;
    background-size: 460px 217px
}

.shop-cart .goods-detail .detail-body .detail-info .submit .btn-sellout {
    background-image: url(../img/sprite.cart.png?t=1524636297403);
    background-position: 0 -106px;
    background-size: 460px 217px
}

.shop-cart .goods-detail .detail-body .detail-info .submit .fav-count {
    background-image: url(../img/sprite.cart.png?t=1524636297403);
    background-position: -234px 0;
    background-size: 460px 217px;
    height: 30px
}

.shop-cart .goods-detail .detail-body .detail-size {
    float: left;
    border-top: 1px dashed #ccc;
    width: 100%;
    height: auto;
    padding-bottom: 15px
}

.shop-cart .goods-detail .detail-body .detail-size h3 {
    height: 35px;
    line-height: 35px;
    font-size: 14px
}

.shop-cart .goods-detail .detail-body .detail-size h3 span {
    font-size: 12px
}

.shop-cart .goods-detail .detail-body .detail-size table {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    font-size: 12px
}

.shop-cart .goods-detail .detail-body .detail-size table td {
    border: 1px solid #fff;
    font-weight: 400;
    background: #fbfbfb;
    text-align: center;
    padding: 8px 3px
}

.shop-cart .goods-detail .detail-body .detail-size table tr:nth-of-type(2n) td {
    background: #f4f4f4
}

.shop-cart .goods-detail .detail-body .detail-size .size-info {
    font-size: 12px;
    color: #999
}