.body-modal-black + .mmodal-dialog {
    position: relative;
    transition: transform .3s ease-out;
    transform: translateY(-25%);
    transform: translate(0)
}

.order-ensure {
    width: 990px;
    margin: 50px auto
}

.order-ensure .radio-btn.on:before {
    content: ".";
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -373px -126px;
    background-size: 460px 217px;
    text-indent: -9999px
}

.order-ensure .shopping-step.min-step {
    width: 220px
}

.order-ensure .shopping-step.min-step:before {
    width: 0
}

.order-ensure .shopping-step.min-step li {
    width: 50%
}

.order-ensure .fw300 {
    font-weight: 300
}

.order-ensure .order-ensure-title {
    position: relative;
    margin: 30px auto 50px
}

.order-ensure .order-ensure-title:before {
    content: "";
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: 0 -159px;
    background-size: 460px 217px;
    width: 196px;
    height: 38px
}

.order-ensure .order-ensure-title:before, .order-ensure .shopping-step {
    display: block
}

.order-ensure .shopping-step {
    width: 440px;
    font-size: 15px;
    border-top: 2px solid #b0b0b0;
    position: absolute;
    right: 2px;
    top: 0
}

.order-ensure .shopping-step li.last:after {
    left: auto;
    right: 0;
    margin-left: 0
}

.order-ensure .shopping-step li.first:after {
    left: 0;
    margin-left: 0
}

.order-ensure .shopping-step li.last {
    text-align: right;
    right: -2px
}

.order-ensure .shopping-step li.first {
    text-align: left;
    left: -2px
}

.order-ensure .shopping-step li {
    float: left;
    position: relative;
    width: 33.33%;
    color: #999;
    line-height: 40px;
    text-align: center
}

.order-ensure .shopping-step li, .order-ensure .shopping-step li:after {
    display: block
}

.order-ensure .shopping-step li:after {
    content: "";
    position: absolute;
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: 0 -205px;
    background-size: 460px 217px;
    width: 12px;
    height: 12px;
    left: 50%;
    margin-left: -6px;
    top: -7px
}

.order-ensure .shopping-step .focus {
    color: #444
}

.order-ensure .shopping-step .focus:after {
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -20px -205px;
    background-size: 460px 217px
}

.order-ensure .shopping-step:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #444;
    top: -2px
}

.order-ensure .block-title {
    height: 38px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 24px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e8e8e8
}

.order-ensure .block-title .right {
    color: #d70024;
    font-size: 14px
}

.order-ensure .block-title .right i {
    font-size: 20px;
    vertical-align: bottom
}

.order-ensure .check-btn {
    line-height: 28px;
    color: #444;
    padding: 0 20px;
    margin-right: 16px;
    border: 1px solid #444;
    display: inline-block;
    text-align: center;
    position: relative;
    cursor: pointer
}

.order-ensure .check-btn.checked {
    border-color: #d70024
}

.order-ensure .check-btn.checked:after {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -312px -88px;
    background-size: 460px 217px;
    position: absolute;
    right: -1px;
    bottom: -1px
}

.order-ensure .radio-btn {
    margin-right: 20px
}

.order-ensure .radio-btn:before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 6px;
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -396px -126px;
    background-size: 460px 217px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer
}

.order-ensure .address-wrap {
    font-size: 14px;
    color: #444;
    border: 1px solid #e8e8e8;
    margin-bottom: 40px
}

.order-ensure .address-wrap .more + .addr-opt.open > .hide-more-btn {
    display: inline
}

.order-ensure .address-wrap .addr-select:after {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -312px -88px;
    background-size: 460px 217px;
    position: absolute;
    right: -1px;
    bottom: -1px
}

.order-ensure .address-wrap .addr-item:hover:before {
    background: url(../img/addr-tps-on.png?162fb67490d)
}

.order-ensure .address-wrap .block-title > span {
    cursor: pointer
}

.order-ensure .address-wrap .addr-list {
    width: 100%;
    padding-left: 20px;
    max-height: 222px;
    overflow: hidden
}

.order-ensure .address-wrap .addr-item, .order-ensure .address-wrap .new-addr {
    width: 203px;
    height: 172px;
    float: left;
    padding: 8px 14px 8px 8px;
    margin-right: 13px;
    margin-top: 30px;
    border: 1px solid #e8e8e8;
    position: relative;
    cursor: pointer
}

.order-ensure .address-wrap .new-addr .plus-icon {
    width: 60px;
    padding-top: 70px;
    margin-left: 72px;
    border-bottom: 4px solid #e0e0e0;
    margin-bottom: 50px;
    position: relative
}

.order-ensure .address-wrap .new-addr .plus-icon:after {
    content: "";
    height: 60px;
    display: block;
    border-left: 4px solid #e0e0e0;
    position: absolute;
    left: 28px;
    top: 42px
}

.order-ensure .address-wrap .new-addr > p {
    padding-left: 6px;
    text-align: center
}

.order-ensure .address-wrap .addr-item .name {
    height: 40px;
    line-height: 40px;
    padding-top: 4px;
    border-bottom: 1px solid #e8e8e8
}

.order-ensure .address-wrap .addr-item .area {
    line-height: 20px;
    padding-top: 8px;
    max-height: 40px;
    overflow: hidden
}

.order-ensure .address-wrap .addr-item .street {
    line-height: 20px;
    padding-top: 4px;
    max-height: 40px;
    color: #999;
    word-break: break-all;
    overflow: hidden
}

.order-ensure .address-wrap .addr-item .option {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    color: #9a9a9a
}

.order-ensure .address-wrap .addr-item .option > span {
    float: right;
    margin-right: 10px;
    line-height: 24px;
    color: #6f6f6f
}

.order-ensure .address-wrap .addr-item .option > span:hover {
    color: #ce0b22
}

.order-ensure .address-wrap .addr-item .default-tip, .order-ensure .address-wrap .addr-item .set-default {
    display: inline-block;
    padding: 4px;
    color: #444;
    background-color: #e0e0e0;
    border: 1px solid #cdcdcd;
    margin-left: 8px;
    cursor: pointer;
    font-weight: 300
}

.order-ensure .address-wrap .addr-item .default-tip {
    color: #fff;
    background-color: #ce0b22;
    border-color: #ce0b22;
    display: none
}

.order-ensure .address-wrap .addr-item:before {
    content: "";
    width: 100%;
    height: 11px;
    display: block;
    background: url(../img/addr-tps.png?162fb67490d);
    position: absolute;
    left: 0;
    top: 0
}

.order-ensure .address-wrap .addr-select {
    border-color: #d70024
}

.order-ensure .address-wrap .addr-select:before {
    background: url(../img/addr-tps-on.png?162fb67490d)
}

.order-ensure .address-wrap .addr-default .set-default {
    display: none
}

.order-ensure .address-wrap .addr-default .default-tip {
    display: inline-block
}

.order-ensure .address-wrap .addr-opt {
    height: 40px;
    padding-left: 20px;
    margin-top: 20px
}

.order-ensure .address-wrap .addr-opt > span {
    cursor: pointer;
    display: none
}

.order-ensure .address-wrap .addr-opt > span:after {
    content: "";
    display: inline-block;
    width: 11px;
    height: 7px;
    margin-left: 4px;
    position: relative;
    top: -1px
}

.order-ensure .address-wrap .addr-opt .more-addr-btn:after {
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -368px -149px;
    background-size: 460px 217px
}

.order-ensure .address-wrap .addr-opt .hide-more-btn:after {
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -349px -149px;
    background-size: 460px 217px
}

.order-ensure .address-wrap .more + .addr-opt .more-addr-btn {
    display: inline
}

.order-ensure .address-wrap .more + .addr-opt.open > .more-addr-btn {
    display: none
}

.order-ensure .delivery-time-wrap, .order-ensure .delivery-way-wrap, .order-ensure .pay-wrap {
    border: 1px solid #e8e8e8;
    border-bottom-color: #fff;
    padding-bottom: 10px
}

.order-ensure .delivery-time-wrap .block-title, .order-ensure .delivery-way-wrap .block-title, .order-ensure .pay-wrap .block-title {
    margin-bottom: 30px
}

.order-ensure .delivery-time-wrap > p, .order-ensure .delivery-way-wrap > p, .order-ensure .pay-wrap > p {
    padding-left: 20px;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #444
}

.order-ensure .delivery-time-wrap .disable, .order-ensure .delivery-way-wrap .disable, .order-ensure .pay-wrap .disable {
    color: #9a9a9a
}

.order-ensure .delivery-time-wrap .disable .check-btn, .order-ensure .delivery-way-wrap .disable .check-btn, .order-ensure .pay-wrap .disable .check-btn {
    color: #9a9a9a;
    border-color: #9a9a9a
}

.order-ensure .delivery-time-wrap .default-line, .order-ensure .delivery-way-wrap .default-line, .order-ensure .pay-wrap .default-line {
    line-height: 1
}

.order-ensure .pay-wrap .check-btn {
    min-width: 100px;
    text-align: center
}

.order-ensure .pay-wrap .unsp-pay {
    color: #999
}

.order-ensure .pay-wrap .unsp-pay .check-btn {
    color: #999;
    border-color: #999;
    cursor: not-allowed
}

.order-ensure .pay-wrap .unsp-pay span {
    font-weight: 300
}

.order-ensure .delivery-way-wrap .more-info {
    color: #d70024;
    margin-left: 10px
}

.order-ensure .delivery-way-wrap .more-info:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 11px;
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -59px -205px;
    background-size: 460px 217px;
    margin-left: 3px
}

.order-ensure .delivery-way-wrap p > span {
    display: none
}

.order-ensure .delivery-way-wrap .unsp-way {
    color: #999
}

.order-ensure .delivery-way-wrap .unsp-way .check-btn {
    color: #999;
    border-color: #999;
    cursor: not-allowed
}

.order-ensure .delivery-way-wrap .unsp-way > span {
    font-weight: 300;
    display: inline-block
}

.order-ensure .delivery-time-wrap {
    border-bottom-color: #e8e8e8;
    margin-bottom: 40px
}

.order-ensure .delivery-time-wrap .check-btn {
    min-width: 138px;
    text-align: center
}

.order-ensure .delivery-time-wrap .unsp-way {
    color: #999
}

.order-ensure .delivery-time-wrap .unsp-way .check-btn {
    color: #999;
    border-color: #999;
    cursor: not-allowed
}

.order-ensure .goods-wrap {
    border: 1px solid #e8e8e8
}

.order-ensure .goods-wrap .block-title {
    overflow: hidden
}

.order-ensure .goods-wrap .block-title .right > span:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 11px;
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -59px -205px;
    background-size: 460px 217px;
    margin-left: 8px;
    position: relative;
    top: 1px
}

.order-ensure .multi-package-row {
    position: relative;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    background: #fefbd5;
    border-bottom: 1px solid #e8e8e8
}

.order-ensure .multi-package-row .red {
    color: #d70024
}

.order-ensure .multi-package-row .show-package {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -441px -88px;
    cursor: pointer;
    vertical-align: text-bottom
}

.order-ensure .multi-package-row .show-package, .order-ensure .multi-package-row .show-package.on:after {
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-size: 460px 217px
}

.order-ensure .multi-package-row .show-package.on:after {
    content: "";
    width: 18px;
    height: 9px;
    background-position: -302px -149px;
    position: absolute;
    top: 32px;
    margin-left: -9px;
    z-index: 10
}

.order-ensure .multi-package-row .package-list {
    position: absolute;
    background: #fff;
    border: 1px solid #000;
    width: 410px;
    right: 0;
    padding: 0 50px;
    text-align: left
}

.order-ensure .multi-package-row .package-item {
    position: relative;
    border-top: 1px solid #e8e8e8
}

.order-ensure .multi-package-row .package-item .toggle-btns {
    display: none
}

.order-ensure .multi-package-row .package-item .toggle-icon {
    width: 26px;
    height: 40px;
    position: absolute;
    top: 66px;
    cursor: pointer
}

.order-ensure .multi-package-row .package-item .left-icon {
    left: -28px;
    background-image: url(../img/sprite.cart.png?t=1524636297400);
    background-position: -426px -38px;
    background-size: 460px 217px
}

.order-ensure .multi-package-row .package-item .right-icon {
    right: -29px;
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -392px -38px;
    background-size: 460px 217px
}

.order-ensure .multi-package-row .package-item:first-child {
    border-top: 0;
    margin-top: 18px
}

.order-ensure .multi-package-row .package-title {
    line-height: 34px;
    padding-bottom: 6px
}

.order-ensure .multi-package-row .package-goods-wrap {
    height: 92px;
    overflow: hidden
}

.order-ensure .multi-package-row .package-goods-wrap li {
    width: 64px;
    height: 90px;
    border: 1px solid #e8e8e8;
    margin-right: 20px;
    overflow: hidden;
    position: relative
}

.order-ensure .multi-package-row .package-goods-wrap li > span {
    width: 100%;
    height: 16px;
    line-height: 17px;
    font-size: 12px;
    color: #fff;
    background: #ff5660;
    text-align: center;
    position: absolute;
    bottom: 0
}

.order-ensure .multi-package-row .package-goods-wrap .package-goods-img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto
}

.order-ensure .multi-package-row .package-shipping {
    color: #595959;
    line-height: 46px;
    padding-bottom: 12px
}

.order-ensure .goods-table {
    width: 100%;
    font-size: 13px;
    color: #444
}

.order-ensure .goods-table .special-limit-15day-box:before {
    top: 34px
}

.order-ensure .goods-table .special-limit-7day-box:before, .order-ensure .goods-table .special-limit-15day-box:before {
    position: absolute;
    left: -9px;
    z-index: 20;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 11px solid #fff;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent
}

.order-ensure .goods-table .special-limit-7day-box:before {
    top: 24px
}

.order-ensure .goods-table td, .order-ensure .goods-table th {
    text-align: center
}

.order-ensure .goods-table th {
    line-height: 40px
}

.order-ensure .goods-table td {
    padding: 28px 0
}

.order-ensure .goods-table .aline-left {
    text-align: left
}

.order-ensure .goods-table .red {
    color: #d70024
}

.order-ensure .goods-table .thumb {
    width: 64px;
    height: 88px;
    vertical-align: top;
    border: 1px solid #e8e8e8
}

.order-ensure .goods-table .name {
    width: 280px;
    max-height: 68px;
    font-size: 15px;
    padding-left: 20px;
    line-height: 1.5;
    overflow: hidden;
    word-break: break-all
}

.order-ensure .goods-table .name, .order-ensure .goods-table .name > span {
    display: inline-block
}

.order-ensure .goods-table .name > span {
    min-width: 40px;
    height: 16px;
    line-height: 17px;
    padding: 0 4px;
    margin-right: 2px;
    font-size: 12px;
    text-align: center;
    background: #ff5660;
    color: #fff;
    vertical-align: text-bottom
}

.order-ensure .goods-table .special-limit-7day {
    color: #999;
    line-height: 1;
    position: absolute;
    margin-top: -20px;
    margin-left: 86px;
    cursor: pointer
}

.order-ensure .goods-table .special-limit-7day:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -280px -126px;
    background-size: 460px 217px;
    vertical-align: text-bottom;
    margin-right: 4px
}

.order-ensure .goods-table .special-limit-7day-box {
    position: absolute;
    top: -47px;
    left: 73%;
    margin-left: -80px;
    padding: 15px;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 24;
    line-height: 20px;
    width: 180px
}

.order-ensure .goods-table .special-limit-7day-box:after {
    position: absolute;
    top: 25px;
    left: -10px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 10px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

.order-ensure .goods-table .special-limit-15day-box {
    position: absolute;
    top: -57px;
    left: 73%;
    margin-left: -80px;
    padding: 15px;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 24;
    line-height: 20px;
    width: 180px
}

.order-ensure .goods-table .special-limit-15day-box:after {
    position: absolute;
    top: 35px;
    left: -10px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 10px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

.order-ensure .goods-table .special-tip {
    position: relative
}

.order-ensure .goods-table .color-size {
    color: #9a9a9a
}

.order-ensure .goods-table .color-size > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom
}

.order-ensure .goods-table .color-size .color {
    max-width: 60px;
    margin-right: 4px
}

.order-ensure .goods-table .color-size .size {
    max-width: 40px
}

.order-ensure .goods-table .price {
    font-size: 14px
}

.order-ensure .goods-table .price p {
    line-height: 18px
}

.order-ensure .goods-table p.line-through {
    font-weight: 400;
    text-decoration: line-through;
    color: #9a9a9a
}

.order-ensure .goods-table p.tip-message {
    font-weight: 400;
    color: #ff575c
}

.order-ensure .goods-table .border-top {
    border-top: 1px solid #e8e8e8
}

.order-ensure .invoice-wrap {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8
}

.order-ensure .invoice-wrap .invoice-radio {
    line-height: 70px;
    margin-left: 20px;
    font-size: 14px
}

.order-ensure .invoice-wrap .invoice-radio:before {
    vertical-align: text-bottom
}

.order-ensure .invoice-wrap .invoice-info-view {
    float: right;
    line-height: 70px;
    padding-right: 20px;
    font-size: 14px
}

.order-ensure .invoice-wrap .invoice-info-view > span {
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle
}

.order-ensure .invoice-wrap .invoice-info-view > label {
    width: 80px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #444;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer
}

.order-ensure .extra-wrap {
    font-size: 14px;
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-bottom-color: #fff
}

.order-ensure .extra-wrap dt {
    line-height: 36px
}

.order-ensure .extra-wrap dt .locker-switch {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-position: -327px -126px;
    vertical-align: text-top;
    margin-right: 18px;
    cursor: pointer
}

.order-ensure .extra-wrap dt .locker-switch, .order-ensure .extra-wrap dt.open > .locker-switch {
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-size: 460px 217px
}

.order-ensure .extra-wrap dt.open > .locker-switch {
    background-position: -350px -126px
}

.order-ensure .extra-wrap dd {
    display: none;
    margin: 10px 0
}

.order-ensure .extra-wrap .open + dd {
    display: block
}

.order-ensure .ticket-wrapper {
    border-bottom-color: #e8e8e8;
    border-top-color: #fff
}

.order-ensure .ticket-selection {
    font-size: 15px;
    line-height: 1.5
}

.order-ensure .ticket-selection .title {
    line-height: 40px;
    font-size: 16px;
    padding-left: 25px;
    font-weight: 700;
    margin-top: 10px
}

.order-ensure .ticket-selection .modity-pay-info li {
    padding-left: 30px;
    margin-bottom: 15px
}

.order-ensure .ticket-selection .modity-pay-info li .ticket-mobile-input {
    width: 208px;
    border: 1px solid #b0b0b0;
    padding: 5px;
    margin-right: 10px;
    font-size: 14px
}

.order-ensure .ticket-selection .modity-pay-info li .ticket-mobile-tip {
    color: #da0045;
    margin-left: 15px
}

.order-ensure .ticket-cover .ticket-image {
    display: inline-block;
    position: relative
}

.order-ensure .ticket-cover .ticket-image-tag {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background: #333
}

.order-ensure .ticket-cover .ticket-name {
    width: 280px;
    max-height: 68px;
    font-size: 15px;
    padding-left: 20px;
    line-height: 1.5;
    overflow: hidden;
    word-break: break-all;
    vertical-align: top
}

.order-ensure .ticket-cover .ticket-name, .order-ensure .use-coupons .used-num {
    display: inline-block
}

.order-ensure .use-coupons .used-num {
    line-height: 16px;
    font-size: 12px;
    padding: 0 6px;
    background: #ff575c;
    color: #fff;
    vertical-align: text-top;
    margin-left: 6px
}

.order-ensure .use-coupons .tip-box {
    width: 60%;
    color: #d70024;
    position: relative;
    text-align: right;
    display: none
}

.order-ensure .use-coupons .coupon-err-tip {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0
}

.order-ensure .use-coupons.open > .tip-box {
    display: block
}

.order-ensure .coupon-choose-box {
    border: 1px solid #e0e0e0
}

.order-ensure .coupon-opt-title {
    height: 40px;
    line-height: 40px;
    background-color: #f0f0f0
}

.order-ensure .coupon-opt-title .red {
    color: #d70024
}

.order-ensure .coupon-opt-title .coupon-tab {
    display: inline-block
}

.order-ensure .coupon-opt-title .coupon-tab li {
    min-width: 120px;
    float: left;
    color: #b0b0b0;
    text-align: center;
    cursor: pointer
}

.order-ensure .coupon-opt-title .coupon-tab .active {
    background: #fff;
    color: #444;
    font-weight: 700
}

.order-ensure .coupon-opt-title .use-code {
    float: right;
    margin-right: 20px;
    font-size: 12px
}

.order-ensure .coupon-opt-title .use-code .code-use-tip {
    margin-right: 8px
}

.order-ensure .coupon-opt-title .use-code > input {
    width: 180px;
    line-height: 24px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    margin-right: 8px;
    box-sizing: border-box
}

.order-ensure .coupon-opt-title .use-code .sure-convert {
    color: #fff;
    background-color: #b0b0b0;
    width: 40px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    display: inline-block
}

.order-ensure .coupon-opt-title .use-code .sure-convert-btn {
    background-color: #444
}

.order-ensure .coupon-opt-title .coupon-code::-webkit-input-placeholder {
    color: #b0b0b0
}

.order-ensure .coupon-opt-title .coupon-code:-moz-placeholder, .order-ensure .coupon-opt-title .coupon-code::-moz-placeholder {
    color: #b0b0b0
}

.order-ensure .coupon-opt-title .coupon-code:-ms-input-placeholder {
    color: #b0b0b0
}

.order-ensure .coupon-list-wrap {
    padding: 20px;
    position: relative
}

.order-ensure .coupon-list-wrap .coupon-item.mutex .mutex-tip {
    display: block
}

.order-ensure .coupon-list-wrap .coupon-item:after {
    content: "";
    width: 4px;
    height: 100%;
    background: url(../img/coupon-hole.png?162fb674920);
    position: absolute;
    top: 0;
    left: 6px
}

.order-ensure .coupon-list-wrap .list-content {
    height: 450px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: 400;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    overflow-x: hidden
}

.order-ensure .coupon-list-wrap .empty, .order-ensure .coupon-list-wrap .list-content {
    width: 100%;
    position: relative
}

.order-ensure .coupon-list-wrap .empty {
    height: 100%;
    text-align: center;
    color: #b0b0b0
}

.order-ensure .coupon-list-wrap .empty > span {
    width: 100%;
    position: absolute;
    left: 0;
    top: 36%
}

.order-ensure .coupon-list-wrap .empty > span:before {
    content: "";
    width: 104px;
    height: 65px;
    background: url(../img/coupon-empty.png?162fb674920);
    display: block;
    margin: 0 auto 20px
}

.order-ensure .coupon-list-wrap .unusable-wrap .list-content {
    height: 486px
}

.order-ensure .coupon-list-wrap .head-msg {
    line-height: 20px;
    color: #fff;
    background-color: #ff8085;
    font-size: 13px;
    padding: 8px 20px
}

.order-ensure .coupon-list-wrap .unusable-title {
    padding-left: 20px;
    line-height: 28px;
    font-size: 13px;
    color: #222
}

.order-ensure .coupon-list-wrap .coupon-item {
    width: 354px;
    height: 100px;
    font-size: 12px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 14px;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box
}

.order-ensure .coupon-list-wrap .coupon-item .worth:after {
    bottom: -7px
}

.order-ensure .coupon-list-wrap .coupon-item .worth:before {
    top: -7px
}

.order-ensure .coupon-list-wrap .coupon-item .due-tig {
    width: 42px;
    height: 42px;
    background: url(../img/due-tig.png?162fb674920);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3
}

.order-ensure .coupon-list-wrap .coupon-item .worth {
    width: 100px;
    line-height: 100px;
    color: #fc5960;
    border-right: 1px dashed #e0e0e0;
    text-align: center;
    position: absolute;
    left: 8px
}

.order-ensure .coupon-list-wrap .coupon-item .worth > p {
    width: 90%;
    line-height: 1;
    display: inline-block;
    vertical-align: middle
}

.order-ensure .coupon-list-wrap .coupon-item .worth .price {
    font-size: 36px;
    font-weight: 700
}

.order-ensure .coupon-list-wrap .coupon-item .worth .conditions {
    line-height: 1.5;
    margin-top: 10px;
    display: block
}

.order-ensure .coupon-list-wrap .coupon-item .worth .freight {
    font-size: 24px;
    font-weight: 700;
    color: #444
}

.order-ensure .coupon-list-wrap .coupon-item .worth:after, .order-ensure .coupon-list-wrap .coupon-item .worth:before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    right: -7px;
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -204px -180px;
    background-size: 460px 217px
}

.order-ensure .coupon-list-wrap .coupon-item .coupon-info {
    padding: 12px 10px;
    margin-left: 108px;
    color: #b0b0b0
}

.order-ensure .coupon-list-wrap .coupon-item .coupon-info .name {
    max-width: 90%;
    height: 36px;
    line-height: 1.4;
    font-size: 12px;
    color: #444;
    overflow: hidden
}

.order-ensure .coupon-list-wrap .coupon-item .coupon-info .type {
    font-weight: 700;
    margin-right: 4px
}

.order-ensure .coupon-list-wrap .coupon-item .coupon-info .time {
    margin-bottom: 16px
}

.order-ensure .coupon-list-wrap .coupon-item .coupon-info .explain-wrap {
    width: calc(100% - 119px);
    height: 98px;
    line-height: 1.4;
    position: absolute;
    top: 1px;
    left: 118px;
    color: #444;
    background: #fff;
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 6px;
    z-index: 2;
    word-break: break-all;
    overflow: hidden;
    display: none
}

.order-ensure .coupon-list-wrap .coupon-item .coupon-info .explain:hover .explain-wrap {
    display: block
}

.order-ensure .coupon-list-wrap .coupon-item .coupon-info .mutex-tip {
    width: 200px;
    max-height: 30px;
    line-height: 1.2;
    position: absolute;
    left: 118px;
    bottom: 7px;
    background: #fff;
    color: #444 !important;
    overflow: hidden;
    word-break: break-all;
    display: none
}

.order-ensure .coupon-list-wrap .coupon-item .coupon-check-btn {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    color: #b0b0b0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -10px
}

.order-ensure .coupon-list-wrap .coupon-item .disable-icon {
    color: #e0e0e0 !important;
    font-size: 20px
}

.order-ensure .coupon-list-wrap .coupon-item .check-icon {
    color: #444;
    font-size: 20px
}

.order-ensure .coupon-list-wrap .coupon-item:before {
    content: "";
    width: 8px;
    height: 100%;
    background: #222;
    position: absolute;
    left: 0
}

.order-ensure .coupon-list-wrap .coupon-item-100 .coupon-info .type, .order-ensure .coupon-list-wrap .coupon-item-100 .worth {
    color: #ffa72e
}

.order-ensure .coupon-list-wrap .coupon-item-100:before {
    background: #ffa72e
}

.order-ensure .coupon-list-wrap .coupon-item-200 .coupon-info .type, .order-ensure .coupon-list-wrap .coupon-item-200 .worth {
    color: #fc5960
}

.order-ensure .coupon-list-wrap .coupon-item-200:before {
    background: #fc5960
}

.order-ensure .coupon-list-wrap .mutex * {
    color: #b0b0b0 !important
}

.order-ensure .coupon-list-wrap .mutex .coupon-info .mutex-tip {
    display: block
}

.order-ensure .coupon-list-wrap .mutex:before {
    background: #b0b0b0
}

.order-ensure .yoho-coin-box {
    line-height: 24px;
    padding: 10px 30px;
    background-color: #f0f0f0;
    position: relative
}

.order-ensure .yoho-coin-box .grey {
    color: #a9a9a9
}

.order-ensure .yoho-coin-box .red {
    color: #d70024
}

.order-ensure .yoho-coin-box .outer-view {
    width: 70%;
    position: absolute;
    right: 0;
    top: -40px;
    padding-right: 20px;
    text-align: right
}

.order-ensure .yoho-coin-box .outer-view .coin-err-tip {
    width: 100%;
    position: absolute;
    right: 20px;
    color: #d70024;
    background-color: #fff
}

.order-ensure .yoho-coin-box .outer-view .help-icon {
    width: 16px;
    height: 16px;
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -441px -88px;
    background-size: 460px 217px;
    position: absolute;
    right: 0;
    top: 4px;
    cursor: pointer
}

.order-ensure .yoho-coin-box .outer-view .help-icon, .order-ensure .yoho-coin-box .outer-view .help-icon:hover + .coin-tip-help {
    display: block
}

.order-ensure .yoho-coin-box .help-icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer
}

.order-ensure .yoho-coin-box .help-icon:hover + .coin-tip-help {
    display: block
}

.order-ensure .yoho-coin-box .coin-tip-help {
    width: 304px;
    padding: 6px 10px;
    line-height: 2;
    border: 1px solid #000;
    background-color: #fff;
    text-align: left;
    position: absolute;
    top: 28px;
    right: -8px;
    display: none
}

.order-ensure .yoho-coin-box .coin-tip-help > p:first-child {
    font-weight: 700
}

.order-ensure .yoho-coin-box .coin-tip-help .rs-text {
    color: #999
}

.order-ensure .yoho-coin-box .coin-tip-help:before {
    content: "";
    width: 12px;
    height: 6px;
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -387px -149px;
    background-size: 460px 217px;
    display: block;
    position: absolute;
    top: -6px;
    right: 10px
}

.order-ensure .yoho-coin-box .coin-main-view > * {
    display: inline-block
}

.order-ensure .yoho-coin-box .coin-main-view > label {
    width: 76px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    float: right
}

.order-ensure .yoho-coin-box .coin-main-view p:first-child {
    margin-right: 40px
}

.order-ensure .yoho-coin-box .coin-main-view .coin-cancel-btn {
    color: #fff;
    background-color: #000;
    margin-left: 18px
}

.order-ensure .yoho-coin-box .coin-main-view .coin-cancel-btn > span {
    display: none
}

.order-ensure .red-packet-box {
    padding: 10px;
    background-color: #f0f0f0;
    line-height: 24px
}

.order-ensure .red-packet-box .radio-btn {
    margin-right: 0
}

.order-ensure .red-packet-box .red {
    color: #d70024
}

.order-ensure .red-packet-box .sure-btn {
    width: 78px;
    float: right;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-right: 20px;
    cursor: pointer
}

.order-ensure .gift-card-box > table {
    width: 100%;
    text-align: center;
    border: 1px solid #e8e8e8
}

.order-ensure .gift-card-box td, .order-ensure .gift-card-box th {
    background-color: #f0f0f0;
    line-height: 30px;
    text-align: center
}

.order-ensure .gift-card-box td {
    padding: 20px 0;
    background-color: #fff;
    border-top: 1px solid #e8e8e8
}

.order-ensure .gift-card-box .gift-card-radio {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 6px;
    background-position: -396px -126px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer
}

.order-ensure .gift-card-box .gift-card-radio, .order-ensure .gift-card-box .gift-card-radio.on {
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-size: 460px 217px
}

.order-ensure .gift-card-box .gift-card-radio.on {
    background-position: -304px -126px
}

.order-ensure .remark-box {
    padding: 0 20px;
    background-color: #f0f0f0
}

.order-ensure .remark-box .note-text-box {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    overflow: hidden;
    margin-top: 30px
}

.order-ensure .remark-box .note-text-box .tip-text {
    padding: 10px;
    color: #a9a9a9
}

.order-ensure .remark-box .note-text {
    width: 888px;
    height: 84px;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.5;
    border: none;
    resize: none;
    background: none;
    margin-top: -34px
}

.order-ensure .remark-box .has-text {
    background-color: #fff
}

.order-ensure .remark-box .pp-area {
    line-height: 50px
}

.order-ensure .remark-box .pp-area > span {
    color: #a9a9a9
}

.order-ensure .balance-wrap {
    font-size: 13px;
    line-height: 2;
    color: #444;
    border: 1px solid #e8e8e8;
    text-align: right
}

.order-ensure .balance-wrap .balance-detail {
    padding: 24px 20px;
    border-bottom: 1px solid #e8e8e8
}

.order-ensure .balance-wrap .balance-detail .back-coin:before {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -441px -126px;
    background-size: 460px 217px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 4px
}

.order-ensure .balance-wrap .promotion-val {
    width: 106px;
    display: inline-block
}

.order-ensure .balance-wrap .total-num {
    margin: 0 20px
}

.order-ensure .balance-wrap .total-num > i {
    color: #d0021b
}

.order-ensure .balance-wrap .delivery-detail {
    padding: 20px;
    line-height: 2;
    display: block
}

.order-ensure .sum-wrap {
    line-height: 1.5;
    text-align: right;
    padding: 30px 0 10px;
    font-size: 24px
}

.order-ensure .sum-wrap .price {
    font-size: 30px;
    color: #d90025
}

.order-ensure .sum-wrap > button {
    width: 150px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: #d90025;
    border: none;
    outline: none;
    padding: 0;
    margin-left: 10px;
    vertical-align: super;
    cursor: pointer
}

.ensure-back-alert > .close {
    display: none
}

.ensure-back-alert .content {
    padding: 40px 0
}

.ensure-back-alert .back-sure {
    width: 100px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    font-weight: 300
}

.ope-address-dialog {
    width: 450px;
    height: 466px;
    text-align: left;
    font-size: 14px;
    color: #444;
    background-color: #fff
}

.ope-address-dialog > .close {
    top: 10px;
    right: 12px
}

.ope-address-dialog > .close .iconfont {
    font-size: 32px
}

.ope-address-dialog > .content {
    text-align: left
}

.ope-address-dialog .title {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8
}

.ope-address-dialog .prompt {
    line-height: 54px;
    color: #444
}

.ope-address-dialog .info-wrap {
    color: #aaa
}

.ope-address-dialog .info-wrap .radio-btn.on:before {
    content: ".";
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -373px -126px;
    background-size: 460px 217px;
    text-indent: -9999px
}

.ope-address-dialog .info-wrap .radio-btn {
    color: #444
}

.ope-address-dialog .info-wrap .radio-btn:before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 6px;
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -396px -126px;
    background-size: 460px 217px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer
}

.ope-address-dialog .info-wrap > li {
    padding-bottom: 30px
}

.ope-address-dialog .info-wrap > li input {
    width: 208px;
    border: 1px solid #b0b0b0;
    padding: 5px;
    margin-right: 10px;
    font-size: 14px
}

.ope-address-dialog .info-wrap > li input[name=address] {
    width: 330px
}

.ope-address-dialog .info-wrap .left-rd {
    width: 92px;
    font-size: 14px;
    color: #444;
    text-align: right;
    display: inline-block
}

.ope-address-dialog .info-wrap .left-rd .red {
    color: #d0021b;
    margin-right: 10px;
    font-size: 18px;
    position: relative;
    top: 4px
}

.ope-address-dialog .info-wrap .left-rd .mg {
    padding: 0 7px
}

.ope-address-dialog .info-wrap .caveat-tip {
    color: #ce0b24;
    position: absolute;
    padding-left: 94px;
    line-height: 1.5
}

.ope-address-dialog .info-wrap .area-box {
    width: 340px;
    display: inline-block;
    border: 1px solid #b0b0b0;
    background: #fff;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    z-index: 1
}

.ope-address-dialog .info-wrap .area-box > span {
    width: 98%;
    font-size: 14px;
    max-height: 28px;
    line-height: 28px;
    padding-left: 5px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer
}

.ope-address-dialog .info-wrap .area-box .area-text {
    width: 92%;
    background: #fff;
    color: #444;
    position: absolute;
    left: 0;
    top: 0
}

.ope-address-dialog .info-wrap .area-box:after {
    content: "";
    width: 13px;
    height: 7px;
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -328px -149px;
    background-size: 460px 217px;
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: -1
}

.ope-address-dialog .info-wrap .area-select {
    width: 100%;
    position: absolute;
    left: -1px;
    background-color: #fff;
    border: 1px solid #b0b0b0;
    display: none
}

.ope-address-dialog .info-wrap .area-select li {
    width: 84px;
    float: left;
    line-height: 26px;
    color: #999;
    border-left: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    text-align: center;
    cursor: pointer;
    font-weight: 300
}

.ope-address-dialog .info-wrap .area-select li:first-child {
    width: 85px;
    border: 0
}

.ope-address-dialog .info-wrap .area-select .opt-list {
    width: 100%;
    position: absolute;
    left: -1px;
    background: #fff;
    border: 1px solid #b0b0b0;
    padding: 10px 0;
    text-align: left;
    display: none;
    color: #444
}

.ope-address-dialog .info-wrap .area-select .opt-list > p {
    padding-left: 60px
}

.ope-address-dialog .info-wrap .area-select .opt-list .group-title {
    position: absolute;
    left: 20px
}

.ope-address-dialog .info-wrap .area-select .opt-list span {
    display: inline-block;
    padding: 4px 6px;
    margin: 0 5px;
    line-height: 1;
    cursor: pointer
}

.ope-address-dialog .info-wrap .area-select .opt-list .all-town {
    font-weight: 700
}

.ope-address-dialog .info-wrap .area-select .opt-list .on {
    background-color: #d0021b;
    color: #fff
}

.ope-address-dialog .info-wrap .third-level-area li {
    width: 112px
}

.ope-address-dialog .info-wrap .third-level-area li:first-child {
    width: 114px
}

.ope-address-dialog .info-wrap .on-edit + .area-select {
    display: block
}

.ope-address-dialog .info-wrap .area-select .tab-on {
    background-color: #fff;
    color: #d0021b;
    font-weight: 400
}

.ope-address-dialog .info-wrap .area-select .tab-on .opt-list {
    display: block;
    min-height: 10px;
    max-height: 184px;
    overflow-x: hidden
}

.ope-address-dialog .info-wrap .area-select .tab-on:after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #fff;
    display: block;
    position: relative;
    top: -2px
}

.ope-address-dialog .btns > .btn {
    width: 128px;
    height: 30px;
    line-height: 32px
}

.ope-address-dialog .btns .black {
    background: #000;
    color: #fff;
    margin-right: 18px;
    font-weight: 300
}

.ensure-cashdeli-dialog {
    width: 360px
}

.ensure-cashdeli-dialog > .close {
    top: 10px;
    right: 12px
}

.ensure-cashdeli-dialog > .close .iconfont {
    font-size: 32px
}

.ensure-cashdeli-dialog .content {
    font-size: 14px;
    line-height: 2;
    color: #444;
    padding-bottom: 14px
}

.ensure-cashdeli-dialog .content .title {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0
}

.ensure-cashdeli-dialog .btns {
    padding-bottom: 10px
}

.ensure-cashdeli-dialog .btns .btn {
    width: 130px
}

.ensure-cashdeli-dialog .btns .black {
    color: #fff;
    background-color: #000;
    margin-right: 4px;
    font-weight: 300
}

.ensure-invoice-dialog {
    width: 690px;
    padding: 20px 58px;
    font-size: 14px;
    color: #444;
    background-color: #fff;
    box-sizing: border-box
}

.ensure-invoice-dialog .radio-btn.on:before {
    content: ".";
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -373px -126px;
    background-size: 460px 217px;
    text-indent: -9999px
}

.ensure-invoice-dialog > .close {
    display: none
}

.ensure-invoice-dialog .invoice-close {
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer
}

.ensure-invoice-dialog .invoice-close .iconfont {
    font-size: 32px
}

.ensure-invoice-dialog .radio-btn:before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background-image: url(../img/sprite.cart.png?t=1524636297401);
    background-position: -396px -126px;
    background-size: 460px 217px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    cursor: pointer
}

.ensure-invoice-dialog > .content {
    text-align: left
}

.ensure-invoice-dialog .invoice-header {
    font-size: 14px;
    padding: 24px 0 20px;
    border-bottom: 1px solid #e8e8e8
}

.ensure-invoice-dialog .invoice-content {
    font-weight: 300
}

.ensure-invoice-dialog .row-title {
    font-weight: 400
}

.ensure-invoice-dialog .el-tip {
    background-color: #f5f5f5;
    padding: 14px;
    line-height: 1.5
}

.ensure-invoice-dialog .el-tip > a {
    display: inline-block;
    padding-top: 12px;
    font-weight: 500
}

.ensure-invoice-dialog .invoice-type-text {
    line-height: 20px;
    padding: 20px 10px
}

.ensure-invoice-dialog .invoice-type-text .row-title {
    margin-right: 10px
}

.ensure-invoice-dialog .invoice-row {
    padding-top: 16px;
    padding-left: 92px;
    overflow: hidden
}

.ensure-invoice-dialog .invoice-row .row-content {
    width: 110%
}

.ensure-invoice-dialog .invoice-row .row-title {
    line-height: 30px;
    position: absolute;
    margin-left: -92px
}

.ensure-invoice-dialog .invoice-row .row-title > em {
    color: #d0021b;
    margin-right: 3px;
    position: relative;
    top: 2px
}

.ensure-invoice-dialog .invoice-row .radio-wrap {
    width: 92px;
    display: inline-block;
    padding: 8px 0
}

.ensure-invoice-dialog .invoice-row input {
    width: 220px;
    height: 30px;
    padding: 0 10px;
    background: #f5f5f5;
    border: 1px solid #e0e0e0
}

.ensure-invoice-dialog .invoice-row .red {
    color: #d0021b
}

.ensure-invoice-dialog .btns {
    padding-top: 28px;
    padding-bottom: 10px
}

.ensure-invoice-dialog .btns .btn {
    width: 140px;
    height: 40px;
    line-height: 38px;
    box-sizing: border-box
}

.ensure-invoice-dialog .btns .save-invoice {
    background-color: #000;
    color: #fff;
    font-weight: 300;
    margin-right: 30px
}

.ensure-hint-confirm .content {
    min-height: 90px;
    padding: 20px 0;
    line-height: 2
}

.ensure-hint-confirm .btns > .btn {
    width: auto;
    padding: 0 6px
}

.gift-card-check-dialog {
    font-size: 14px
}

.gift-card-check-dialog .close {
    display: none
}

.gift-card-check-dialog .content {
    width: 352px;
    padding: 0 30px
}

.gift-card-check-dialog .content h2 {
    font-size: 18px;
    margin-bottom: 26px
}

.gift-card-check-dialog .content > p {
    line-height: 2
}

.gift-card-check-dialog .content input {
    width: 160px;
    height: 30px;
    padding-left: 10px;
    box-sizing: border-box
}

.gift-card-check-dialog .content .send-sms {
    width: 120px;
    height: 30px;
    color: #fff;
    margin-left: 20px;
    background-color: #494949;
    display: inline-block;
    cursor: pointer
}

.gift-card-check-dialog .content .send-sms.timer {
    background-color: #b0b0b0;
    cursor: default
}

.gift-card-check-dialog .tip-info {
    text-align: left
}

.gift-card-check-dialog .receiver-info {
    padding: 24px 0 30px
}

.gift-card-check-dialog .btns {
    padding-top: 30px
}

.gift-card-check-dialog .btns .btn {
    min-width: 100px;
    padding: 0
}

.gift-card-check-dialog .btns .check-sure {
    background-color: #000;
    color: #fff;
    margin-left: 96px
}

.alert-dialog.ensure-alert > .content {
    padding-bottom: 0;
    padding-top: 60px
}

.order-easypay-page .shopping-step {
    width: 220px
}

.order-easypay-page .shopping-step > li {
    width: 50%
}

.order-easypay-page .shopping-step:before {
    width: 0
}

.modal-overflow {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.body-modal-black, .modal-overflow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .15s linear
}

.body-modal-black {
    z-index: 100;
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    opacity: .4
}

.body-modal-black.fade {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0
}

.mmodal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 130px;
    min-width: 350px;
    background: #f8f8f8;
    z-index: 1001;
    border: 5px solid #5f5f5f
}

.mmodal-dialog .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer
}

.mmodal-dialog .content {
    text-align: center
}

.mmodal-body {
    overflow: hidden;
    position: relative
}
